@{
    ViewBag.Title = "About";
}


<div id="content">
    <div class="container">

        <hr>
        <div class="row teststuff">
            <div class="col-md-8">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>
            </div>
        </div>
    </div>
</div>