@{
    ViewBag.Title = "Home Page";
}


<div id="content">
    <div class="container">

        <hr>
        <div class="row">
            <div class="col-md-4">

                <div id="wireframe">
                    <img src="/Content/nexus5.png">
                </div>

            </div>
            <div class="col-md-8">

                <h3>Where would you click to do xyz?</h3>


                <p id="coordinates" class="text-warning"></p>


                <button type="button" class="btn btn-lg btn-primary">Next »</button>

            </div>
        </div>
        <hr>

    </div><!-- /.container -->
</div>
